*{
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}
main{
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
}
#encabezado{
    position: sticky;
    top: 0;
    background-color: bisque;
    height: 150px;
    z-index: 1;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    font-size: 60pt;
}
h2{
    font-size: 30px;
    text-align: center;
}
#perfil{
    justify-content: center;
    width: 10%;
    text-align: center;
    float: right;
}
#perfil img{
    width: 100%;
    border-radius: 50%;
}
nav ol{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: rgb(145, 101, 66);

}
nav a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline 4px rgb(150, 111, 187);
}
nav ol li{
    margin-left: 30px;
}
#imagen2gato img{
    float: left;
    margin: 10px;
    width: 100%;
}
#imagen2gato{
    width: 15%;
}
footer{
    margin-top: 20px;
}
footer ol{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

footer ol li{
    margin-left: 30px;
    
}
footer a{
    text-decoration: none;
    color: rgb(99, 65, 26);
    
    border-radius: 50%;
    
}
footer a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline blue;
}

#gatoimagen{
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
#gatoimagen img{
   width: 100%;
}
.video_responsive{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }    
article{
    display: grid;
    grid-template-areas: "cabecera cabecera "
                        "contenido aside"
                        "pie pie "
    ;
    grid-template-columns: 6fr 1fr ;
    gap: 10px;
    align-content: center;


}
  
#cabecera{
    grid-area: cabecera;
    background-color: darkcyan;
    justify-content: center;
    padding: 15px;
}
#contenido{
    grid-area: contenido;
    width: 90%;
    align-items: center;
    margin-left: 40px;
    padding: 15px;
}
p{
    padding: 10px;
}
#aside{
    grid-area: aside;
    padding: 15px;
    margin-right: 40px;
}
#imagenes{
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
#imagen1{
    height: 200px;
    margin-right: 5%;
}
#imagen1 img{
    height: 100%;
}
#imagen2{
    justify-content: center;
    height: 200px;
    margin-left: 5%;
}
#imagen2 img{
    height: 100%;
}
#pie{
    grid-area: pie;
    background-color: darkcyan;
    text-align: center;
}