#galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
figure{

    padding: 20px;
    text-align: center;
}
figure img{
    max-width: 250px;
    max-height: 200px;
    padding: 15px;
    height: 300px;
    filter: blur(2pt);
}
figure img:hover{
filter: none;
}